* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-div {
  background-color: yellow;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.todo-div {
  background-color: black;
  color: white;
  width: 20%;
  height: 120px;
  padding: 5px;
}

.todo-container {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 15px;
}